In [53]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import textstat

In [54]:
# Define the base path to your CSV files
base_path = '/Users/sandervanduin/Desktop/HVA weekly /Digitial Marketing Strategy/DMSteam9'
#base_path = '/Users/owenalberts/Desktop/Master Digital Driven Business/Digital marketing strategy/DMSteam9'

# Explicitly load each CSV file into its own DataFrame
df1 = pd.read_csv(os.path.join(base_path, 'Themeparcs I.csv'), on_bad_lines='skip', delimiter=';')
df2 = pd.read_csv(os.path.join(base_path, 'Themeparcs II.csv'), on_bad_lines='skip', delimiter=';')
df3 = pd.read_csv(os.path.join(base_path, 'Themeparcs III.csv'), on_bad_lines='skip', delimiter=';')
df4 = pd.read_csv(os.path.join(base_path, 'Themeparcs IV.csv'), on_bad_lines='skip', delimiter=';')

# Example operation: print the first few rows of the DataFrame
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
print("First few rows of Merged Themeparcs :")
merged_df.head(5)

First few rows of Merged Themeparcs :

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...

In [55]:
print(merged_df.shape)

(15443, 18)

In [60]:
# Fill NaN values with 0 for calculation
merged_df['Number of Shares'] = merged_df['Number of Shares'].fillna(0)
# merged_df['Number of Shares.1'] = merged_df['Number of Shares.1'].fillna(0)

# Calculate total shares by summing both shares columns
merged_df['total_shares'] = merged_df['Number of Shares'] + merged_df['Number of Shares.1']

# Now group by 'Profile' and sum the 'Total Shares', and then sort the sums in ascending order
shares_per_profile = merged_df.groupby('Profile')['total_shares'].sum().sort_values(ascending=False)

shares_per_profile.head(50)

Profile
Walt Disney Animation Studios                  227392.0
Walt Disney Studios (US)                       118026.0
Universal Orlando Resort (US)                   76962.0
Walt Disney World                               59715.0
Disneyland                                      51015.0
Cedar Point                                     47278.0
Universal Studios Hollywood                     35452.0
Kings Island                                    34293.0
Hersheypark                                     34166.0
Wild Adventures Theme Park                      32371.0
Santa Cruz Beach Boardwalk                      27955.0
Busch Gardens Tampa Bay                         24859.0
Knott's Berry Farm                              18263.0
SeaWorld Orlando                                17943.0
Six Flags Great Adventure                       15668.0
Canada's Wonderland                             15481.0
Busch Gardens Williamsburg                      14180.0
Six Flags                                        9796.0
Six Flags Great Escape and Hurricane Harbor      7856.0
Silverwood Theme Park                            7566.0
Six Flags Great America/Hurricane Harbor         7215.0
West Edmonton Mall                               7090.0
Lake Winnie                                      5478.0
Six Flags Over Georgia & Hurricane Harbor        5355.0
SeaWorld San Diego                               5174.0
Six Flags Discovery Kingdom                      4043.0
Lake Compounce                                   3981.0
Gilroy Gardens                                   3838.0
Six Flags Darien Lake                            3665.0
SeaWorld                                         3644.0
LEGOLAND California                              3588.0
Elitch Gardens                                   3361.0
California's Great America                       2950.0
Six Flags Magic Mountain                         2355.0
SkyPark at Santa's Village                       1985.0
Disneyland Paris                                 1841.0
Playland Park                                    1763.0
Waterville USA                                   1582.0
Sesame Place San Diego                           1574.0
Santa's Workshop North Pole, Colorado            1537.0
Quassy Amusement & Waterpark                     1484.0
Happy Hollow Park & Zoo                          1482.0
Fun Spot America                                 1100.0
Belmont Park                                     1051.0
Funland Rehoboth Beach                            874.0
Enchanted Island Amusement Park                   790.0
MarineLand                                        636.0
Pacific Park                                      539.0
Sea Life Park                                     460.0
Glenwood Caverns Adventure Park                   431.0
Name: total_shares, dtype: float64

In [61]:
# Sum the relevant columns to create a total score for each observation
columns_to_sum = [
    'Number of Reactions', 'Number of Shares', 'Number of Comments (primary)', 
    'Number of Shares.1', 'Comments per post', 'Comments on posts by fans', 
    'Post interaction rate', 'Number of Likes'
]

# Convert columns to numeric, coercing errors to NaN
for column in columns_to_sum:
    merged_df[column] = pd.to_numeric(merged_df[column], errors='coerce')

# Fill NaN values with 0 for calculation
merged_df = merged_df.fillna(0)

# Calculate the total score
merged_df['total_score'] = merged_df[columns_to_sum].sum(axis=1)

merged_df.head(5)

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,...,Profile-ID,Post-ID,Link,Total Shares,Total Score,text_length,hashtag_count,readability_score,total_shares,total_score
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,0.0,2.0,2.0,2.0,2.0,0.0,...,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...,2.0,37.0,337,57,74.69,2.0,37.0
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,0.0,1.0,2.0,1.0,1.0,0.0,...,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...,2.0,76.0,141,19,87.72,2.0,76.0
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,0.0,2.0,3.0,2.0,2.0,0.0,...,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...,3.0,53.0,128,16,38.99,3.0,53.0
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,0.0,52.0,12.0,56.0,56.0,0.0,...,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...,12.0,1300.0,45,8,48.47,12.0,1300.0
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,0.0,2.0,0.0,2.0,2.0,0.0,...,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...,0.0,39.0,227,40,83.36,0.0,39.0

In [64]:
# Function to calculate the average excluding zeros, unless all values are zero
def calculate_unweighted_average(row):
    values = [row['Number of Reactions'], row['total_shares'], row['Number of Comments (primary)'], row['Number of Likes']]
    # Remove zeros but only if not all values are zeros
    filtered_values = [value for value in values if value != 0] or values
    return np.mean(filtered_values)
 
# Apply the function to each row in the DataFrame
merged_df['Unweighted_Engagement_Score'] = merged_df.apply(calculate_unweighted_average, axis=1)
 
# Display the first few rows to verify the changes
merged_df[['Date', 'Profile', 'Message', 'Number of Reactions', 'Number of Shares', 'Number of Comments (primary)', 'Unweighted_Engagement_Score']].head()

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Unweighted_Engagement_Score
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,0.0,2.0,8.250000
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,0.0,1.0,18.500000
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,0.0,2.0,12.250000
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,0.0,52.0,297.000000
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,0.0,2.0,11.666667

In [58]:
# sample_df = merged_df.sample(n=100, random_state=42)
# sample_df.to_csv('sample.csv', index=False)

In [62]:
#  the distribution of the text length
#  the distribution of the hastags
#  the distribution of the readability of the message


# Count the number of characters in each message
merged_df['text_length'] = merged_df['Message'].apply(len)


# Count the number of hashtags in each message
merged_df['hashtag_count'] = merged_df['Message'].apply(lambda x: len(x.split()))


# What does the readability score mean?
# The Flesch Reading Ease formula will output a number from 0 to 100 - a higher score indicates easier readability.
merged_df['readability_score'] = merged_df['Message'].apply(textstat.flesch_reading_ease)


# Print the first few rows of the DataFrame
merged_df[['Profile', 'Message', 'text_length', 'hashtag_count', 'readability_score', 'total_score']].head(10)

,Profile,Message,text_length,hashtag_count,readability_score,total_score
0,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,337,57,74.69,37.000000
1,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,141,19,87.72,76.000000
2,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,128,16,38.99,53.000000
3,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,45,8,48.47,1300.000000
4,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,227,40,83.36,39.000000
5,Belmont Park,The sun sets over 2023‚Ä¶üåÖ\n\nWishing everyone a...,342,64,90.09,105.001246
6,SeaWorld Orlando,Animal rescue and rehabilitation has always be...,602,100,56.96,1366.003572
7,Canada's Wonderland,As this roller coaster of a year comes to a th...,212,39,86.03,239.000000
8,SeaWorld San Diego,"As we close out 2023, we want to take a moment...",528,98,68.70,454.002332
9,Lake Compounce,Who‚Äôs ready to party tonight? ü™©\n\nJoin Kyle t...,339,51,68.77,120.000000