In [3]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import textstat

In [5]:
# Define the base path to your CSV files
#base_path = '/Users/sandervanduin/Desktop/HVA weekly /Digitial Marketing Strategy/DMSteam9'
#base_path = '/Users/owenalberts/Desktop/Master Digital Driven Business/Digital marketing strategy/DMSteam9'
base_path = '/Users/alvarocairo/Desktop/DMS/VScode DMS'

# Explicitly load each CSV file into its own DataFrame
df1 = pd.read_csv(os.path.join(base_path, 'Themeparcs I.csv'), on_bad_lines='skip', delimiter=';')
df2 = pd.read_csv(os.path.join(base_path, 'Themeparcs II.csv'), on_bad_lines='skip', delimiter=';')
df3 = pd.read_csv(os.path.join(base_path, 'Themeparcs III.csv'), on_bad_lines='skip', delimiter=';')
df4 = pd.read_csv(os.path.join(base_path, 'Themeparcs IV.csv'), on_bad_lines='skip', delimiter=';')

# Example operation: print the first few rows of the DataFrame
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
print("First few rows of Merged Themeparcs :")
merged_df.head(5)

First few rows of Merged Themeparcs :

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...

In [6]:
print(merged_df.shape)

(15443, 18)

In [14]:
# Replace `merged_df` with the name of your actual DataFrame
merged_df.to_csv('merged_df.csv', index=False)

In [7]:
# Sum the relevant columns to create a total score for each observation
columns_to_sum = [
    'Number of Reactions', 'Number of Shares', 'Number of Comments (primary)', 
    'Number of Shares.1', 'Comments per post', 'Comments on posts by fans', 
    'Post interaction rate', 'Number of Likes'
]

# Convert columns to numeric, coercing errors to NaN
for column in columns_to_sum:
    merged_df[column] = pd.to_numeric(merged_df[column], errors='coerce')

# Fill NaN values with 0 for calculation
merged_df = merged_df.fillna(0)

# Calculate the total score
merged_df['total_score'] = merged_df[columns_to_sum].sum(axis=1)

merged_df.head(5)

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link,total_score
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,0.0,2.0,2.0,2.0,2.0,0.0,"1,09E+12",13.0,0.0,1.0,0.0,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...,37.0
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,0.0,1.0,2.0,1.0,1.0,0.0,"4,17E+11",33.0,0.0,0.0,0.0,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...,76.0
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,0.0,2.0,3.0,2.0,2.0,0.0,"2,85E+11",21.0,0.0,0.0,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...,53.0
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,0.0,52.0,12.0,56.0,56.0,0.0,"1,36E+11",478.0,0.0,1.0,0.0,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...,1300.0
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,0.0,2.0,0.0,2.0,2.0,0.0,"4,96E+11",16.0,0.0,0.0,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...,39.0

In [9]:
# sample_df = merged_df.sample(n=100, random_state=42)
# sample_df.to_csv('sample.csv', index=False)

In [8]:
#  the distribution of the text length
#  the distribution of the hastags
#  the distribution of the readability of the message


# Count the number of characters in each message
merged_df['text_length'] = merged_df['Message'].apply(len)


# Count the number of hashtags in each message
merged_df['hashtag_count'] = merged_df['Message'].apply(lambda x: len(x.split()))


# What does the readability score mean?
# The Flesch Reading Ease formula will output a number from 0 to 100 - a higher score indicates easier readability.
merged_df['readability_score'] = merged_df['Message'].apply(textstat.flesch_reading_ease)


# Print the first few rows of the DataFrame
merged_df[['Profile', 'Message', 'text_length', 'hashtag_count', 'readability_score', 'total_score']].head(10)

,Profile,Message,text_length,hashtag_count,readability_score,total_score
0,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,337,57,74.69,37.000000
1,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,141,19,87.72,76.000000
2,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,128,16,38.99,53.000000
3,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,45,8,48.47,1300.000000
4,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,227,40,83.36,39.000000
5,Belmont Park,The sun sets over 2023‚Ä¶üåÖ\n\nWishing everyone a...,342,64,90.09,105.001246
6,SeaWorld Orlando,Animal rescue and rehabilitation has always be...,602,100,56.96,1366.003572
7,Canada's Wonderland,As this roller coaster of a year comes to a th...,212,39,86.03,239.000000
8,SeaWorld San Diego,"As we close out 2023, we want to take a moment...",528,98,68.70,454.002332
9,Lake Compounce,Who‚Äôs ready to party tonight? ü™©\n\nJoin Kyle t...,339,51,68.77,120.000000

In [11]:
import emoji
import re

# Function to count the number of emojis in each post
def count_emojis(text):
    # Using the emoji library to count all emoji characters in the text
    return emoji.emoji_count(text)
# Ensure 'Message' column is a string
merged_df['Message'] = merged_df['Message'].astype(str)

# Apply the function to count emojis
merged_df['emoji_count'] = merged_df['Message'].apply(count_emojis)

# Print the dataframe with the new 'emoji_count' column
merged_df[['Profile', 'Message', 'emoji_count']].head()

,Profile,Message,emoji_count
0,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,7
1,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,3
2,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,1
3,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,3
4,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,0

In [12]:
# Converting the 'Date' column to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Date'], format='%m/%d/%y %I:%M %p')
# Extracting the day of the week
merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')

merged_df[['Date', 'Day of Week']]

ValueError: time data "12/12/2023 23:23" doesn't match format "%m/%d/%y %I:%M %p", at position 787. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [16]:
from dateutil import parser

# Attempt to parse dates using a more flexible method
# This will handle a variety of formats but may not catch every possible inconsistency
def flexible_date_parser(date_str):
    try:
        return parser.parse(date_str)
    except ValueError:
        return pd.NaT

# Apply the flexible date parser to the 'Date' column
merged_df['Date'] = merged_df['Date'].apply(flexible_date_parser)

# Check again for any rows where 'Date' conversion resulted in NaT
nat_rows_after_parsing = merged_df[merged_df['Date'].isna()]

# Count the number of NaT rows after the flexible parsing attempt
nat_count_after_parsing = nat_rows_after_parsing.shape[0]

# Proceed with extracting the day of the week for dates that were successfully parsed
if nat_count_after_parsing == 0:
    # All dates were parsed successfully, proceed with extracting the day of the week
    merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')
    success_message = "All dates were parsed successfully, and the day of the week has been extracted."
else:
    # Some dates could not be parsed
    success_message = f"{nat_count_after_parsing} rows still contain unparseable dates after flexible parsing."

success_message

'All dates were parsed successfully, and the day of the week has been extracted.'

In [17]:
# Converting the 'Date' column to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Date'], format='%m/%d/%y %I:%M %p')
# Extracting the day of the week
merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')

merged_df[['Date', 'Day of Week']]

                     Date Day of Week
0     2023-12-31 21:40:00      Sunday
1     2023-12-31 20:01:00      Sunday
2     2023-12-31 19:30:00      Sunday
3     2023-12-31 19:00:00      Sunday
4     2023-12-31 19:00:00      Sunday
...                   ...         ...
15438 2023-01-01 02:00:00      Sunday
15439 2023-01-01 01:20:00      Sunday
15440 2023-01-01 00:01:00      Sunday
15441 2023-01-01 00:00:00      Sunday
15442 2023-01-01 00:00:00      Sunday

[15443 rows x 2 columns]

In [22]:
import pandas as pd
from textblob import TextBlob

# Define logical and emotional keywords for basic counting
logical_keywords = [
    'benefits', 'safety', 'features', 'discount', 'deal', 'offer', 'schedule', 'hours', 
    'accessibility', 'facilities', 'capacity', 'reservation', 'technology', 'innovation']
emotional_keywords = [
    'exciting', 'magical', 'adventure', 'thrill', 'joy', 'surprise', 'fun', 'spectacular', 
    'amazing', 'wonder', 'dream', 'nostalgia', 'enjoy', 'memorable', 'family', 'friends', 
    'celebrate', 'laughter', 'entertainment']

# Function to count occurrences of specific words in text
def count_keywords(text, keyword_list):
    # Convert the text to lowercase and count occurrences of each keyword
    count = sum(text.lower().count(word) for word in keyword_list)
    return count

# Apply feature engineering
merged_df['sentiment'] = merged_df['Message'].apply(lambda x: TextBlob(x).sentiment.polarity)
merged_df['logical_keyword_count'] = merged_df['Message'].apply(lambda x: count_keywords(x, logical_keywords))
merged_df['emotional_keyword_count'] = merged_df['Message'].apply(lambda x: count_keywords(x, emotional_keywords))
merged_df['question_marks_count'] = merged_df['Message'].apply(lambda x: x.count('?'))
merged_df['exclamation_points_count'] = merged_df['Message'].apply(lambda x: x.count('!'))

# Display the first few rows to check the new features
merged_df

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,...,total_score,text_length,hashtag_count,readability_score,emoji_count,sentiment,logical_keyword_count,emotional_keyword_count,question_marks_count,exclamation_points_count
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,0.0,2.0,2.0,2.0,2.0,0.0,...,37.0,337,57,74.69,7,0.317857,1,4,0,4
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,0.0,1.0,2.0,1.0,1.0,0.0,...,76.0,141,19,87.72,3,0.200000,0,1,0,1
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,0.0,2.0,3.0,2.0,2.0,0.0,...,53.0,128,16,38.99,1,0.500000,0,3,0,1
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,0.0,52.0,12.0,56.0,56.0,0.0,...,1300.0,45,8,48.47,3,0.000000,0,0,0,1
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,0.0,2.0,0.0,2.0,2.0,0.0,...,39.0,227,40,83.36,0,0.129545,0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,01/01/2023 02:00,Wild Adventures Theme Park,LAST CHANCE! \n\nPrices on 2023 Season Passes ...,20.0,0.0,1.0,0.0,2.0,2.0,0.0,...,45.0,190,32,85.99,0,0.304167,0,0,0,3
15439,01/01/2023 01:20,Playland,O Grupo Playcenter e os Parques Playcenter Fam...,7.0,0.0,1.0,0.0,1.0,1.0,0.0,...,17.0,459,64,17.00,4,0.000000,0,3,0,2
15440,01/01/2023 00:01,Disneyland Paris,Gelukkig 2023! Laat de magie dit jaar stralen ...,833.0,0.0,40.0,31.0,44.0,44.0,0.0,...,1613.0,69,12,94.15,2,0.000000,0,0,0,2
15441,01/01/2023 00:00,Six Flags Over Georgia & Hurricane Harbor,What are your 2023 New Years resolutions? ‚ú®\n\...,58.0,0.0,7.0,2.0,9.0,9.0,0.0,...,134.0,158,22,64.67,2,0.443182,0,1,1,1
15442,01/01/2023 00:00,Knott's Berry Farm,The countdown to 2023 is on!üéâ Join us tonight ...,451.0,0.0,31.0,28.0,66.0,66.0,0.0,...,1041.0,449,74,59.09,2,0.174011,0,4,0,2