In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Define the base path to your CSV files
base_path = 'C:\\Users\\patri\\Downloads\\'

#base_path = '/Users/owenalberts/Desktop/Master Digital Driven Business/Digital marketing strategy/DMSteam9'

# Explicitly load each CSV file into its own DataFrame
df1 = pd.read_csv(os.path.join(base_path, 'Themeparcs I.csv'), on_bad_lines='skip', delimiter=';')
df2 = pd.read_csv(os.path.join(base_path, 'Themeparcs II.csv'), on_bad_lines='skip', delimiter=';')
df3 = pd.read_csv(os.path.join(base_path, 'Themeparcs III.csv'), on_bad_lines='skip', delimiter=';')
df4 = pd.read_csv(os.path.join(base_path, 'Themeparcs IV.csv'), on_bad_lines='skip', delimiter=';')

# Example operation: print the first few rows of the DataFrame
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
print("First few rows of Merged Themeparcs :")
merged_df.head(5)

First few rows of Merged Themeparcs :

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...

In [3]:
# Display the DataFrame's information, including index dtype and columns, non-null values, and memory usage
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15443 entries, 0 to 15442
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          15443 non-null  object
 1   Profile                       15443 non-null  object
 2   Message                       15443 non-null  object
 3   Number of Reactions           15443 non-null  float64
 4   Number of Shares              0 non-null      float64
 5   Number of Comments (primary)  15443 non-null  float64
 6   Number of Shares.1            15443 non-null  float64
 7   Comments per post             15443 non-null  float64
 8   Comments on posts by fans     15443 non-null  float64
 9   Post interaction rate         15443 non-null  object
 10  Engagement                    15443 non-null  object
 11  Number of Likes               15443 non-null  float64
 12  Link-posts                    555 non-null    float64
 13  Picture Posts                 11562 non-null  float64
 14  Video-posts                   2479 non-null   float64
 15  Profile-ID                    15443 non-null  object
 16  Post-ID                       15443 non-null  object
 17  Link                          15443 non-null  object
dtypes: float64(10), object(8)
memory usage: 2.1+ MB
None

In [4]:
# Assuming your DataFrame is named df
unique_profiles = merged_df.drop_duplicates(subset=['Profile-ID'])

# Print the unique profiles
unique_profiles[['Profile', 'Profile-ID']]

                                          Profile        Profile-ID
0                      Wild Adventures Theme Park       84679583132
1                                Fun Spot America        1,8402E+11
3                                Disneyland Paris       6,52389E+14
4                           Silverwood Theme Park       7,62702E+14
5                                    Belmont Park       83231004302
6                                SeaWorld Orlando  1782696285170057
7                             Canada's Wonderland       95469803923
8                              SeaWorld San Diego       4,26112E+14
9                                  Lake Compounce       80018245271
10                        Happy Hollow Park & Zoo       1,32943E+11
12                  Universal Orlando Resort (US)       90867402851
13                        Busch Gardens Tampa Bay       68181225238
14                                    Hersheypark       16994689356
15                                 Gilroy Gardens       1,22944E+14
16                                  Sea Life Park       1,05016E+14
17                            LEGOLAND California       1,43631E+14
19                                 Elitch Gardens       62242807350
20                      Six Flags Great Adventure       69421318512
21                                   Pacific Park       61119627598
23                     Busch Gardens Williamsburg       18543728314
24                     Santa Cruz Beach Boardwalk       40035168377
25                                   Kings Island       1,55894E+11
26                                       SeaWorld       63617892564
27                    Six Flags Discovery Kingdom       59636827742
28                Enchanted Island Amusement Park       1,20659E+14
30                   Quassy Amusement & Waterpark       38328744398
32                         Sesame Place San Diego       1,16947E+14
33                  Walt Disney Animation Studios       23245476854
37                             Knott's Berry Farm       10286130875
39                             West Edmonton Mall       2,07299E+11
40                                    Cedar Point       10625691462
43                                 Waterville USA       1,38319E+11
49                                       Playland       1,70866E+14
60      Six Flags Over Georgia & Hurricane Harbor       34284255238
63                     SkyPark at Santa's Village       6,53316E+14
69                                Big Kahuna's NJ       26451078324
72                                      Six Flags        8696281132
78                     California's Great America       28442453154
86                Glenwood Caverns Adventure Park       58441077768
90                       Six Flags Magic Mountain       67502107124
108   Six Flags Great Escape and Hurricane Harbor       51613191805
117                                    Disneyland       11081890741
119                            Castles & Coasters       2,52289E+14
143               ACN - America's Coaster Network       1,11079E+11
180                                Adventure City       1,55862E+14
198                             Walt Disney World       1,55669E+11
211                                    MarineLand       1,08249E+14
216                      Walt Disney Studios (US)       1,11383E+14
218      Six Flags Great America/Hurricane Harbor       10583866355
230                         Six Flags Darien Lake        9596249636
231                Hurricane Harbor Oklahoma City       87241076807
245         Santa's Workshop North Pole, Colorado       3,44217E+11
284                    Centreville Amusement Park       1,17784E+14
337                                  Calaway Park       72446805248
345                                 Playland Park        8119908863
651                   Universal Studios Hollywood       61784580148
789                                   Lake Winnie       1,12097E+11
3734                       Funland Rehoboth Beach       1,38718E+14
5134                             SeaWorld Orlando        1,7827E+15
8380                           Castles N Coasters        1,0375E+14

In [5]:
# Counts of unique values for a specific column
merged_df['Profile'].value_counts()

Wild Adventures Theme Park                     955
Happy Hollow Park & Zoo                        627
Cedar Point                                    478
Walt Disney Studios (US)                       450
Playland                                       446
Walt Disney Animation Studios                  432
Fun Spot America                               414
Belmont Park                                   408
Knott's Berry Farm                             402
Six Flags Discovery Kingdom                    401
Busch Gardens Tampa Bay                        399
Kings Island                                   396
Busch Gardens Williamsburg                     396
SeaWorld Orlando                               395
SeaWorld San Diego                             388
Hersheypark                                    383
SkyPark at Santa's Village                     382
Six Flags Great Adventure                      368
Santa Cruz Beach Boardwalk                     351
Lake Compounce                                 342
Canada's Wonderland                            334
Sea Life Park                                  334
California's Great America                     332
Silverwood Theme Park                          318
Six Flags Great Escape and Hurricane Harbor    313
Sesame Place San Diego                         306
West Edmonton Mall                             305
Universal Orlando Resort (US)                  304
Six Flags                                      278
Gilroy Gardens                                 254
Disneyland Paris                               237
Waterville USA                                 223
Quassy Amusement & Waterpark                   213
Six Flags Over Georgia & Hurricane Harbor      200
Playland Park                                  200
Six Flags Darien Lake                          194
LEGOLAND California                            181
Six Flags Magic Mountain                       177
Six Flags Great America/Hurricane Harbor       152
Elitch Gardens                                 144
Disneyland                                     137
Walt Disney World                              133
Castles & Coasters                             133
Pacific Park                                   121
Enchanted Island Amusement Park                116
ACN - America's Coaster Network                114
Lake Winnie                                    106
MarineLand                                      92
Big Kahuna's NJ                                 92
Centreville Amusement Park                      80
SeaWorld                                        80
Hurricane Harbor Oklahoma City                  77
Calaway Park                                    76
Glenwood Caverns Adventure Park                 68
Universal Studios Hollywood                     67
Santa's Workshop North Pole, Colorado           58
Adventure City                                  30
Funland Rehoboth Beach                          28
Castles N Coasters                              23
Name: Profile, dtype: int64

In [6]:
# Assuming merged_df is your DataFrame
merged_df.to_csv('merged_df.csv', index=False)  # This will save your database to a file named 'merged_df.csv' without the index

In [ ]:
# Expanded lists of keywords for Events and Offers
events_keywords = [
    "show", "concert", "parade", "fireworks", "festival", "night", "celebration",
    "performance", "meet and greet", "magic show", "dinner show", "theme night",
    "character breakfast", "Halloween", "Christmas", "Easter", "summer nights",
    "live entertainment", "seasonal event", "autumn fest", "winter wonderland",
    "spring break", "character parade", "music festival", "carnival", "horror night",
    "family fun day", "superhero weekend", "princess day", "pyrotechnics", "theater show",
    "animal encounter", "educational tour", "VIP event", "special performance",
    "anniversary event", "new year's eve", "special celebration", "exclusive event",
    "fan meet-up"
]

offers_keywords = [
    "discount", "sale", "offer", "deal", "promotion", "early bird", "season pass",
    "family pack", "group rate", "flash sale", "special admission", "free entry",
    "buy one get one", "limited time offer", "exclusive access", "online booking discount",
    "ticket special", "membership discount", "upgrade promotion", "multi-day pass",
    "annual pass", "online discount", "kids go free", "holiday special", "weekend sale",
    "gift card offer", "last-minute deal", "early booking bonus", "companion discount",
    "birthday offer", "return visitor discount", "meal deal", "souvenir discount",
    "photo package deal", "stay and play", "hotel package", "resort special",
    "VIP package", "express pass deal"
]

# Function to check if any of the keywords appear in the text
def classify_text(text, keywords):
    if pd.isnull(text):  # Check if the text is NaN
        return 0
    text = text.lower()  # Convert text to lower case for comparison
    for keyword in keywords:
        if keyword in text:
            return 1
    return 0

# Apply the classification function to the dataset
merged_df['Event'] = merged_df['Message'].apply(lambda x: classify_text(x, events_keywords))
merged_df['Discount'] = merged_df['Message'].apply(lambda x: classify_text(x, offers_keywords))

# Display the first few rows of the updated dataframe
merged_df.head()

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link,Event,Discount
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...,1,1
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...,1,0
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...,1,0
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...,0,0
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...,0,1