In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import textstat
import emoji
import re

In [3]:
# Define the base path to your CSV files
base_path = '/Users/sandervanduin/Desktop/HVA weekly /Digitial Marketing Strategy/DMSteam9'
#base_path = '/Users/owenalberts/Desktop/Master Digital Driven Business/Digital marketing strategy/DMSteam9'

# Explicitly load each CSV file into its own DataFrame
df1 = pd.read_csv(os.path.join(base_path, 'Themeparcs I.csv'), on_bad_lines='skip', delimiter=';')
df2 = pd.read_csv(os.path.join(base_path, 'Themeparcs II.csv'), on_bad_lines='skip', delimiter=';')
df3 = pd.read_csv(os.path.join(base_path, 'Themeparcs III.csv'), on_bad_lines='skip', delimiter=';')
df4 = pd.read_csv(os.path.join(base_path, 'Themeparcs IV.csv'), on_bad_lines='skip', delimiter=';')

# Example operation: print the first few rows of the DataFrame
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
print("First few rows of Merged Themeparcs :")
merged_df.head(5)

First few rows of Merged Themeparcs :

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1090000000000,00",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","417000000000,00",33.0,NaN,NaN,NaN,"1,84E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","285000000000,00",21.0,NaN,NaN,1.0,"1,84E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","136000000000,00",478.0,NaN,1.0,NaN,"6,52E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","496000000000,00",16.0,NaN,NaN,1.0,"7,63E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...

In [4]:
# Checking the NaN values in the columns that seems to have many NaN values
merged_df = merged_df.fillna(0)
display(merged_df[['Number of Shares', 'Link-posts', 'Picture Posts', 'Video-posts']])

       Number of Shares  Link-posts  Picture Posts  Video-posts
0                   0.0         0.0            1.0          0.0
1                   0.0         0.0            0.0          0.0
2                   0.0         0.0            0.0          1.0
3                   0.0         0.0            1.0          0.0
4                   0.0         0.0            0.0          1.0
...                 ...         ...            ...          ...
15438               0.0         0.0            1.0          0.0
15439               0.0         0.0            1.0          0.0
15440               0.0         0.0            0.0          1.0
15441               0.0         0.0            1.0          0.0
15442               0.0         0.0            1.0          0.0

[15443 rows x 4 columns]

In [5]:
# Sum the relevant columns to create a total score for each observation
columns_to_sum = [
    'Number of Reactions', 'Number of Shares', 'Number of Comments (primary)', 
    'Number of Shares.1', 'Comments per post', 'Comments on posts by fans', 
    'Post interaction rate', 'Number of Likes'
]

# Convert columns to numeric, coercing errors to NaN
for column in columns_to_sum:
    merged_df[column] = pd.to_numeric(merged_df[column], errors='coerce')

# Calculate the total score
merged_df['total_score'] = merged_df[columns_to_sum].sum(axis=1)

merged_df.head(5)

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link,total_score
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,0.0,2.0,2.0,2.0,2.0,NaN,"1090000000000,00",13.0,0.0,1.0,0.0,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...,37.0
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,0.0,1.0,2.0,1.0,1.0,NaN,"417000000000,00",33.0,0.0,0.0,0.0,"1,84E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...,76.0
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,0.0,2.0,3.0,2.0,2.0,NaN,"285000000000,00",21.0,0.0,0.0,1.0,"1,84E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...,53.0
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,0.0,52.0,12.0,56.0,56.0,NaN,"136000000000,00",478.0,0.0,1.0,0.0,"6,52E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...,1300.0
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,0.0,2.0,0.0,2.0,2.0,NaN,"496000000000,00",16.0,0.0,0.0,1.0,"7,63E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...,39.0

# Estimating the Number of Followers from Engagement Data

To estimate the number of followers on social media from engagement data, we perform several steps of data manipulation and apply a mathematical formula. Here's how we accomplish this task using Python and pandas:

## Steps of Calculation

### Step 1: Understanding the Formula

We start with the provided formula for engagement rate:

\[ \text{Engagement Rate} = \left( \frac{\text{Number of Reactions} + \text{Number of Shares} + \text{Number of Comments}}{\text{Number of Followers}} \right) \times 100 \]

To solve for the number of followers, we rearrange the formula:

\[ \text{Number of Followers} = \frac{\text{Number of Reactions} + \text{Number of Shares} + \text{Number of Comments}}{\text{Engagement Rate} / 100} \]

### Step 2: Cleaning the 'Engagement' Data

The 'Engagement' data was originally in a format that was not directly usable for calculations (e.g., `'1,09E+12'`). This represents a number in scientific notation but with a comma used as a decimal separator. To make this data usable, we needed to:

- Replace the comma with a dot to adhere to the standard decimal notation.
- Convert the string to a floating-point number.
- Scale down the number since it was represented in an inflated scientific notation format.

### Step 3: Applying the Adjusted Formula

With the 'Engagement' data cleaned and scaled down, we applied the rearranged formula to estimate the number of followers. 

### Step 4: Formatting the Output

After calculation, the number of followers was initially displayed in scientific notation by pandas (e.g., `5.220588e+06`). To display this as a regular integer with thousands separators (e.g., `5.220.588`), we set pandas' display options to avoid scientific notation and to use a period as a thousands separator.

In [6]:
merged_df['Engagement'].head(50)

0          1090000000000,00
1           417000000000,00
2           285000000000,00
3           136000000000,00
4           496000000000,00
5     0.0012457732692649937
6     0.0035718617597483805
7          1510000000000,00
8      0.002332185043750723
9          4140000000000,00
10         2280000000000,00
11         2010000000000,00
12          456000000000,00
13          577000000000,00
14           62800000000,00
15          477000000000,00
16           71700000000,00
17           73500000000,00
18           59800000000,00
19          513000000000,00
20           12500000000,00
21         3390000000000,00
22         3800000000000,00
23         2190000000000,00
24    0.0015418974493643287
25         3720000000000,00
26         1480000000000,00
27         2330000000000,00
28     0.003960676143998868
29         3860000000000,00
30         2840000000000,00
31          581000000000,00
32    0.0018957345971563982
33         1850000000000,00
34    0.0010865558588489255
35          296000000000,00
36         3930000000000,00
37          866000000000,00
38          322000000000,00
39          282000000000,00
40         1200000000000,00
41          792000000000,00
42          536000000000,00
43           17400000000,00
44           54300000000,00
45         3930000000000,00
46            3560000000,00
47    0.0020054316858206358
48           25300000000,00
49            9280000000,00
Name: Engagement, dtype: object

In [7]:
# Adjust the 'Engagement' values by dividing by 10^10 to correct the scale
merged_df['Engagement'] = merged_df['Engagement'].str.replace(',', '.').astype(float) / (10**10)

In [8]:

# Calculate the 'Estimated Followers' and multiply by 1000
merged_df['Estimated Followers'] = ((merged_df['Number of Reactions'] + merged_df['Number of Shares.1'] + merged_df['Number of Comments (primary)']) / (merged_df['Engagement'] / 100)) * 1000

# Set pandas display options to avoid scientific notation for floats
pd.options.display.float_format = '{:.0f}'.format

merged_df['Estimated Followers'] = merged_df['Estimated Followers'].apply(lambda x: "{:,.0f}".format(x).replace(",", "."))

# Display the DataFrame with the estimated number of followers
merged_df[['Profile', 'Number of Reactions', 'Number of Shares.1', 'Number of Comments (primary)', 'Engagement', 'Estimated Followers']].head(50)

,Profile,Number of Reactions,Number of Shares.1,Number of Comments (primary),Engagement,Estimated Followers
0,Wild Adventures Theme Park,16,2,2,109,18.349
1,Fun Spot America,38,2,1,42,98.321
2,Fun Spot America,23,3,2,28,98.246
3,Disneyland Paris,646,12,52,14,5.220.588
4,Silverwood Theme Park,17,0,2,50,38.306
5,Belmont Park,51,11,1,0,50.571.000.000.000.008.192
6,SeaWorld Orlando,729,97,25,0,238.251.101.873.536.303.104
7,Canada's Wonderland,102,14,9,151,82.781
8,SeaWorld San Diego,242,15,5,0,112.341.000.000.000.016.384
9,Lake Compounce,60,5,3,414,16.425
10,Happy Hollow Park & Zoo,9,0,0,228,3.947
11,Wild Adventures Theme Park,30,3,4,201,18.408
12,Universal Orlando Resort (US),1234,90,46,46,3.004.386
13,Busch Gardens Tampa Bay,332,38,15,58,667.244
14,Hersheypark,52,0,2,6,859.873
15,Gilroy Gardens,36,1,2,48,81.761
16,Sea Life Park,16,2,1,7,264.993
17,LEGOLAND California,42,1,4,7,639.456
18,Wild Adventures Theme Park,10,0,1,6,183.946
19,Elitch Gardens,57,5,12,51,144.250
20,Six Flags Great Adventure,107,4,20,1,10.480.000
21,Pacific Park,17,2,0,339,5.605
22,Happy Hollow Park & Zoo,15,0,0,380,3.947
23,Busch Gardens Williamsburg,131,8,10,219,68.037
24,Santa Cruz Beach Boardwalk,580,48,12,0,415.072.999.999.999.967.232
25,Kings Island,208,25,13,372,66.129
26,SeaWorld,218,29,26,148,184.459
27,Six Flags Discovery Kingdom,52,3,4,233,25.322
28,Enchanted Island Amusement Park,44,5,5,0,13.634.035.714.285.713.408
29,Universal Orlando Resort (US),1073,87,25,386,306.995
30,Quassy Amusement & Waterpark,11,0,0,284,3.873
31,Wild Adventures Theme Park,65,15,14,58,161.790
32,Sesame Place San Diego,40,9,1,0,26.375.000.000.000.004.096
33,Walt Disney Animation Studios,2036,214,75,185,1.256.757
34,Santa Cruz Beach Boardwalk,414,2,29,0,409.550.964.523.281.547.264
35,Busch Gardens Tampa Bay,181,12,7,30,675.676
36,Kings Island,214,29,20,393,66.921
37,Knott's Berry Farm,481,25,26,87,614.319
38,Walt Disney Animation Studios,3635,369,70,32,12.652.174
39,West Edmonton Mall,35,12,3,28,177.305
40,Cedar Point,145,16,25,120,155.000
41,SeaWorld San Diego,72,17,0,79,112.374
42,Lake Compounce,69,11,5,54,158.582
43,Waterville USA,1,0,0,2,57.471
44,Wild Adventures Theme Park,10,0,0,5,184.162
45,SeaWorld Orlando,80,12,2,393,23.919
46,Fun Spot America,25,4,3,0,8.988.764
47,Busch Gardens Tampa Bay,1149,95,57,0,648.738.129.151.291.686.912
48,Happy Hollow Park & Zoo,9,1,0,3,395.257
49,Playland,2,0,1,1,323.276

In [ ]:
# Assuming your DataFrame is named df
unique_profiles = merged_df.drop_duplicates(subset=['Profile-ID'])

# Print the unique profiles
unique_profiles[['Profile', 'Profile-ID', 'Estimated Followers']]

In [9]:
# sample_df = merged_df.sample(n=100, random_state=42)
# sample_df.to_csv('sample.csv', index=False)

In [10]:
#  the distribution of the text length
#  the distribution of the hastags
#  the distribution of the readability of the message


# Count the number of characters in each message
merged_df['text_length'] = merged_df['Message'].apply(len)


# Count the number of hashtags in each message
merged_df['hashtag_count'] = merged_df['Message'].apply(lambda x: len(x.split()))


# What does the readability score mean?
# The Flesch Reading Ease formula will output a number from 0 to 100 - a higher score indicates easier readability.
merged_df['readability_score'] = merged_df['Message'].apply(textstat.flesch_reading_ease)


# Function to count the number of emojis in each post
def count_emojis(text):
    # Using the emoji library to count all emoji characters in the text
    return emoji.emoji_count(text)
# Apply the function to count emojis
merged_df['emoji_count'] = merged_df['Message'].apply(count_emojis)


# Print the first few rows of the DataFrame
merged_df[['Profile', 'Message', 'text_length', 'hashtag_count', 'readability_score','emoji_count', 'total_score']].head(10)

,Profile,Message,text_length,hashtag_count,readability_score,emoji_count,total_score
0,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,337,57,75,7,37
1,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,141,19,88,3,76
2,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,128,16,39,1,53
3,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,45,8,48,3,1300
4,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,227,40,83,0,39
5,Belmont Park,The sun sets over 2023‚Ä¶üåÖ\n\nWishing everyone a...,342,64,90,4,105
6,SeaWorld Orlando,Animal rescue and rehabilitation has always be...,602,100,57,0,1366
7,Canada's Wonderland,As this roller coaster of a year comes to a th...,212,39,86,4,239
8,SeaWorld San Diego,"As we close out 2023, we want to take a moment...",528,98,69,0,454
9,Lake Compounce,Who‚Äôs ready to party tonight? ü™©\n\nJoin Kyle t...,339,51,69,7,120

In [11]:
import emoji
import re

# Function to count the number of emojis in each post
def count_emojis(text):
    # Using the emoji library to count all emoji characters in the text
    return emoji.emoji_count(text)
# Ensure 'Message' column is a string
merged_df['Message'] = merged_df['Message'].astype(str)

# Apply the function to count emojis
merged_df['emoji_count'] = merged_df['Message'].apply(count_emojis)

# Print the dataframe with the new 'emoji_count' column
merged_df[['Profile', 'Message', 'emoji_count']].head()

,Profile,Message,emoji_count
0,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,7
1,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,3
2,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,1
3,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,3
4,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,0

In [12]:
from dateutil import parser

# Attempt to parse dates using a more flexible method
# This will handle a variety of formats but may not catch every possible inconsistency
def flexible_date_parser(date_str):
    try:
        return parser.parse(date_str)
    except ValueError:
        return pd.NaT

# Apply the flexible date parser to the 'Date' column
merged_df['Date'] = merged_df['Date'].apply(flexible_date_parser)

# Check again for any rows where 'Date' conversion resulted in NaT
nat_rows_after_parsing = merged_df[merged_df['Date'].isna()]

# Count the number of NaT rows after the flexible parsing attempt
nat_count_after_parsing = nat_rows_after_parsing.shape[0]

# Proceed with extracting the day of the week for dates that were successfully parsed
if nat_count_after_parsing == 0:
    # All dates were parsed successfully, proceed with extracting the day of the week
    merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')
    success_message = "All dates were parsed successfully, and the day of the week has been extracted."
else:
    # Some dates could not be parsed
    success_message = f"{nat_count_after_parsing} rows still contain unparseable dates after flexible parsing."

success_message

'All dates were parsed successfully, and the day of the week has been extracted.'

In [13]:
# Converting the 'Date' column to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Date'], format='%m/%d/%y %I:%M %p')
# Extracting the day of the week
merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')

merged_df[['Date', 'Day of Week']]

                     Date Day of Week
0     2023-12-31 21:40:00      Sunday
1     2023-12-31 20:01:00      Sunday
2     2023-12-31 19:30:00      Sunday
3     2023-12-31 19:00:00      Sunday
4     2023-12-31 19:00:00      Sunday
...                   ...         ...
15438 2023-01-01 02:00:00      Sunday
15439 2023-01-01 01:20:00      Sunday
15440 2023-01-01 00:01:00      Sunday
15441 2023-01-01 00:00:00      Sunday
15442 2023-01-01 00:00:00      Sunday

[15443 rows x 2 columns]

In [14]:
# Ensure the 'Date' column is already converted to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Date'], format='%m/%d/%y %I:%M %p')

# Extract the day of the week and encode it (Monday=0, Sunday=6)
merged_df['Day of Week'] = merged_df['Date'].dt.dayofweek

# Display the first few rows to verify the change
merged_df[['Date', 'Day of Week']]

                     Date  Day of Week
0     2023-12-31 21:40:00            6
1     2023-12-31 20:01:00            6
2     2023-12-31 19:30:00            6
3     2023-12-31 19:00:00            6
4     2023-12-31 19:00:00            6
...                   ...          ...
15438 2023-01-01 02:00:00            6
15439 2023-01-01 01:20:00            6
15440 2023-01-01 00:01:00            6
15441 2023-01-01 00:00:00            6
15442 2023-01-01 00:00:00            6

[15443 rows x 2 columns]

In [15]:
#Function to categorize part of the day based on the hour

def get_part_of_day(hour):
    if 5 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour < 22:
        return "Evening"
    else:
        return "Night"

# Apply the function to each row in the DataFrame to create a new column
merged_df['Part of Day'] = merged_df['Date'].dt.hour.apply(get_part_of_day)

# Display the first few rows of the DataFrame to confirm the new column has been added correctly
merged_df[['Date', 'Day of Week', 'Part of Day']].head()

                 Date  Day of Week Part of Day
0 2023-12-31 21:40:00            6     Evening
1 2023-12-31 20:01:00            6     Evening
2 2023-12-31 19:30:00            6     Evening
3 2023-12-31 19:00:00            6     Evening
4 2023-12-31 19:00:00            6     Evening

In [16]:
def get_part_of_day_numeric(hour):
    if 5 <= hour < 12:
        return 0  # Morning
    elif 12 <= hour < 17:
        return 1  # Afternoon
    elif 17 <= hour < 22:
        return 2  # Evening
    else:
        return 3  # Night

# Apply the modified function to each row in the DataFrame to create a new encoded column
merged_df['Part of Day Numeric'] = merged_df['Date'].dt.hour.apply(get_part_of_day_numeric)

# Display the first few rows of the DataFrame to confirm the new column has been added correctly
merged_df[['Date', 'Day of Week', 'Part of Day', 'Part of Day Numeric']].head()

                 Date  Day of Week Part of Day  Part of Day Numeric
0 2023-12-31 21:40:00            6     Evening                    2
1 2023-12-31 20:01:00            6     Evening                    2
2 2023-12-31 19:30:00            6     Evening                    2
3 2023-12-31 19:00:00            6     Evening                    2
4 2023-12-31 19:00:00            6     Evening                    2

In [20]:
merged_df.head(10)

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,...,Link,total_score,Estimated Followers,text_length,hashtag_count,readability_score,emoji_count,Day of Week,Part of Day,Part of Day Numeric
0,2023-12-31 21:40:00,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16,0,2,2,2,2,NaN,...,https://www.facebook.com/617429960430190/posts...,37,18.349,6,4,4,2,6,Evening,2
1,2023-12-31 20:01:00,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38,0,1,2,1,1,NaN,...,https://www.facebook.com/653224623510220/posts...,76,98.321,5,3,4,1,6,Evening,2
2,2023-12-31 19:30:00,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23,0,2,3,2,2,NaN,...,https://www.facebook.com/653224623510220/posts...,53,98.246,5,3,4,1,6,Evening,2
3,2023-12-31 19:00:00,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646,0,52,12,56,56,NaN,...,https://www.facebook.com/724434559725286/posts...,1300,5.220.588,4,2,4,1,6,Evening,2
4,2023-12-31 19:00:00,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17,0,2,0,2,2,NaN,...,https://www.facebook.com/562559642740100/posts...,39,38.306,5,4,4,0,6,Evening,2
5,2023-12-31 18:55:00,Belmont Park,The sun sets over 2023‚Ä¶üåÖ\n\nWishing everyone a...,51,0,1,11,1,1,0,...,https://www.facebook.com/632506952246705/posts...,105,50.571.000.000.000.008.192,6,4,5,2,6,Evening,2
6,2023-12-31 18:01:00,SeaWorld Orlando,Animal rescue and rehabilitation has always be...,729,0,25,97,28,28,0,...,https://www.facebook.com/260024933365934/posts...,1366,238.251.101.873.536.303.104,6,5,4,0,6,Evening,2
7,2023-12-31 17:30:00,Canada's Wonderland,As this roller coaster of a year comes to a th...,102,0,9,14,13,13,NaN,...,https://www.facebook.com/633676285467689/posts...,239,82.781,5,4,4,2,6,Evening,2
8,2023-12-31 17:01:00,SeaWorld San Diego,"As we close out 2023, we want to take a moment...",242,0,5,15,5,5,0,...,https://www.facebook.com/579518520992777/posts...,454,112.341.000.000.000.016.384,6,5,4,0,6,Evening,2
9,2023-12-31 17:00:00,Lake Compounce,Who‚Äôs ready to party tonight? ü™©\n\nJoin Kyle t...,60,0,3,5,3,3,NaN,...,https://www.facebook.com/548816340614892/posts...,120,16.425,6,4,4,2,6,Evening,2

In [21]:
import pandas as pd
from scipy.stats import shapiro

# Assuming 'merged_df' is your dataframe and 'total_score' is the name of your dependent variable column
# Also assuming 'Link-posts', 'Picture Posts', 'Video-posts' columns indicate presence (e.g., with a 1) of that type of post

# Filter the rows for each type of post
link_posts_scores = merged_df[merged_df['Link-posts'] == 1]['total_score']
picture_posts_scores = merged_df[merged_df['Picture Posts'] == 1]['total_score']
video_posts_scores = merged_df[merged_df['Video-posts'] == 1]['total_score']

# Perform Shapiro-Wilk test for normality
shapiro_result_link = shapiro(link_posts_scores)
shapiro_result_picture = shapiro(picture_posts_scores)
shapiro_result_video = shapiro(video_posts_scores)

# Print results
print(f"Shapiro-Wilk Test for Link-posts: {shapiro_result_link}")
print(f"Shapiro-Wilk Test for Picture Posts: {shapiro_result_picture}")
print(f"Shapiro-Wilk Test for Video-posts: {shapiro_result_video}")

Shapiro-Wilk Test for Link-posts: ShapiroResult(statistic=0.5072553586324918, pvalue=1.5504941441741896e-36)
Shapiro-Wilk Test for Picture Posts: ShapiroResult(statistic=0.2168487167820895, pvalue=5.8855333294749e-113)
Shapiro-Wilk Test for Video-posts: ShapiroResult(statistic=0.11954529171682171, pvalue=2.933157137188591e-75)

/var/folders/7l/b916kv5120d_jxhh50x6gjxw0000gn/T/ipykernel_99566/3618169621.py:14: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 11562.
  shapiro_result_picture = shapiro(picture_posts_scores)

## ANOVA Sub-question 1

In [18]:
# ANOVA for 'text_length', 'hashtag_count', 'readability_score','emoji_count' as the independent variables
# for the ANOVA, I want the test the independent variables for, 'Link-posts', 'Picture Posts', 'Video-posts' seperately 
# The 'total_score' column is the target variable, aka, the dependent variable. 
# First testing the assumption of normality
# Shapiro-Wilk test for normality


independent_vars = ['text_length', 'hashtag_count', 'readability_score', 'emoji_count']

# Apply log transformation to independent variables
for var in independent_vars:
    merged_df[var] = np.log1p(merged_df[var])

# Then you can proceed with your tests



import scipy.stats as stats

# Ensure 'total_score' column is a number
merged_df['total_score'] = pd.to_numeric(merged_df['total_score'], errors='coerce')

# List of independent variables
independent_vars = ['text_length', 'hashtag_count', 'readability_score', 'emoji_count']

# List of post type columns
post_type_columns = ['Link-posts', 'Picture Posts', 'Video-posts']

# For each post type column
for post_type_col in post_type_columns:
    print(f"\nPost Type: {post_type_col}")
    # Separate the data
    post_data = merged_df[merged_df[post_type_col] == 1]
    
    # For each independent variable
    for var in independent_vars:
        print(f"\nVariable: {var}")
        # Perform Shapiro-Wilk test for normality
        print("Shapiro-Wilk Test:", stats.shapiro(post_data[var]))
        
        # If p > 0.05, data is normal, proceed with ANOVA
        # Perform ANOVA
        fvalue, pvalue = stats.f_oneway(post_data[var], post_data['total_score'])
        print("F-value:", fvalue)
        print("P-value:", pvalue)

Post Type: Link-posts

Variable: text_length
Shapiro-Wilk Test: ShapiroResult(statistic=0.7061798996823487, pvalue=5.164640923679872e-30)
F-value: 138.69525835054608
P-value: 3.000315431768964e-30

Variable: hashtag_count
Shapiro-Wilk Test: ShapiroResult(statistic=0.8267690569550281, pvalue=4.832096304742344e-24)
F-value: 139.30511931689327
P-value: 2.2838395643296328e-30

Variable: readability_score
Shapiro-Wilk Test: ShapiroResult(statistic=nan, pvalue=1.0)
F-value: nan
P-value: nan

Variable: emoji_count
Shapiro-Wilk Test: ShapiroResult(statistic=0.8082081170746946, pvalue=3.875451833352246e-25)
F-value: 140.32803796659044
P-value: 1.4455783026526553e-30

Post Type: Picture Posts

Variable: text_length
Shapiro-Wilk Test: ShapiroResult(statistic=0.7854786681108633, pvalue=2.0009588715082745e-81)
F-value: 766.7766459930983
P-value: 4.6125497373142736e-166

Variable: hashtag_count
Shapiro-Wilk Test: ShapiroResult(statistic=0.9038425476485977, pvalue=1.6145141870250255e-64)
F-value: 770.0313546936776
P-value: 9.528707061660529e-167

Variable: readability_score
Shapiro-Wilk Test: ShapiroResult(statistic=nan, pvalue=1.0)
F-value: nan
P-value: nan

Variable: emoji_count
Shapiro-Wilk Test: ShapiroResult(statistic=0.8676067137598285, pvalue=5.145851070527127e-71)
F-value: 775.2138003467255
P-value: 7.738598900569922e-168

Post Type: Video-posts

Variable: text_length
Shapiro-Wilk Test: ShapiroResult(statistic=0.8057629951421674, pvalue=1.3598402794650769e-47)
F-value: 61.364576463118084
P-value: 5.7609779789256e-15

Variable: hashtag_count
Shapiro-Wilk Test: ShapiroResult(statistic=0.9311391897782015, pvalue=2.3025563975831774e-32)
F-value: 61.454743685054886
P-value: 5.506187330528556e-15

Variable: readability_score
Shapiro-Wilk Test: ShapiroResult(statistic=nan, pvalue=1.0)
F-value: nan
P-value: nan

Variable: emoji_count
Shapiro-Wilk Test: ShapiroResult(statistic=0.8659383063814139, pvalue=8.493534599217584e-42)
F-value: 61.594271596484575
P-value: 5.13396395972811e-15

/Users/sandervanduin/Desktop/HVA weekly /Digitial Marketing Strategy/DMSteam9/.venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/var/folders/7l/b916kv5120d_jxhh50x6gjxw0000gn/T/ipykernel_99566/1105438796.py:39: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 11562.
  print("Shapiro-Wilk Test:", stats.shapiro(post_data[var]))

In [19]:
#