In [16]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import textstat
import emoji
import re

In [17]:
# Define the base path to your CSV files

base_path = '/Users/sandervanduin/Desktop/HVA weekly /Digitial Marketing Strategy/DMSteam9'
#base_path = '/Users/owenalberts/Desktop/Master Digital Driven Business/Digital marketing strategy/DMSteam9'
#base_path = '/Users/alvarocairo/Desktop/DMS/VScode DMS'

# Explicitly load each CSV file into its own DataFrame
df1 = pd.read_csv(os.path.join(base_path, 'Themeparcs I.csv'), on_bad_lines='skip', delimiter=';')
df2 = pd.read_csv(os.path.join(base_path, 'Themeparcs II.csv'), on_bad_lines='skip', delimiter=';')
df3 = pd.read_csv(os.path.join(base_path, 'Themeparcs III.csv'), on_bad_lines='skip', delimiter=';')
df4 = pd.read_csv(os.path.join(base_path, 'Themeparcs IV.csv'), on_bad_lines='skip', delimiter=';')

# Example operation: print the first few rows of the DataFrame
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
print("First few rows of Merged Themeparcs :")
merged_df.head(5)

First few rows of Merged Themeparcs :

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1090000000000,00",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","417000000000,00",33.0,NaN,NaN,NaN,"1,84E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","285000000000,00",21.0,NaN,NaN,1.0,"1,84E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","136000000000,00",478.0,NaN,1.0,NaN,"6,52E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","496000000000,00",16.0,NaN,NaN,1.0,"7,63E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...

In [18]:
print(merged_df.shape)

(15443, 18)

In [19]:
# Replace `merged_df` with the name of your actual DataFrame
merged_df.to_csv('merged_df.csv', index=False)

In [27]:
# Sum the relevant columns to create a total score for each observation
columns_to_sum = [
    'Number of Reactions', 'Number of Shares', 'Number of Comments (primary)', 
    'Number of Shares.1', 'Comments per post', 'Comments on posts by fans', 
    'Post interaction rate', 'Number of Likes'
]

# Convert columns to numeric, coercing errors to NaN
for column in columns_to_sum:
    merged_df[column] = pd.to_numeric(merged_df[column], errors='coerce')

# Fill NaN values with 0 for calculation
merged_df = merged_df.fillna(0)

# Calculate the total score
merged_df['total_score'] = merged_df[columns_to_sum].sum(axis=1).round(2).astype(int)

merged_df.head(5)

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,...,Video-posts,Profile-ID,Post-ID,Link,total_score,text_length,hashtag_count,readability_score,emoji_count,Estimated Followers
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,0.0,2.0,2.0,2.0,2.0,0.0,...,0.0,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...,37,337,57,74.69,7,18.349
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,0.0,1.0,2.0,1.0,1.0,0.0,...,0.0,"1,84E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...,76,141,19,87.72,3,98.321
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,0.0,2.0,3.0,2.0,2.0,0.0,...,1.0,"1,84E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...,53,128,16,38.99,1,98.246
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,0.0,52.0,12.0,56.0,56.0,0.0,...,0.0,"6,52E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...,1300,45,8,48.47,3,5.220.588
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,0.0,2.0,0.0,2.0,2.0,0.0,...,1.0,"7,63E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...,39,227,40,83.36,0,38.306

In [28]:
# sample_df = merged_df.sample(n=100, random_state=42)
# sample_df.to_csv('sample.csv', index=False)

In [29]:
#  the distribution of the text length
#  the distribution of the hastags
#  the distribution of the readability of the message


# Count the number of characters in each message
merged_df['text_length'] = merged_df['Message'].apply(len)


# Count the number of hashtags in each message
merged_df['hashtag_count'] = merged_df['Message'].apply(lambda x: len(x.split()))


# What does the readability score mean?
# The Flesch Reading Ease formula will output a number from 0 to 100 - a higher score indicates easier readability.
merged_df['readability_score'] = merged_df['Message'].apply(textstat.flesch_reading_ease)


# Function to count the number of emojis in each post
def count_emojis(text):
    # Using the emoji library to count all emoji characters in the text
    return emoji.emoji_count(text)
# Apply the function to count emojis
merged_df['emoji_count'] = merged_df['Message'].apply(count_emojis)


# Print the first few rows of the DataFrame
merged_df[['Profile', 'Message', 'text_length', 'hashtag_count', 'readability_score', 'emoji_count', 'total_score']].head(10)

,Profile,Message,text_length,hashtag_count,readability_score,emoji_count,total_score
0,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,337,57,74.69,7,37
1,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,141,19,87.72,3,76
2,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,128,16,38.99,1,53
3,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,45,8,48.47,3,1300
4,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,227,40,83.36,0,39
5,Belmont Park,The sun sets over 2023‚Ä¶üåÖ\n\nWishing everyone a...,342,64,90.09,4,105
6,SeaWorld Orlando,Animal rescue and rehabilitation has always be...,602,100,56.96,0,1366
7,Canada's Wonderland,As this roller coaster of a year comes to a th...,212,39,86.03,4,239
8,SeaWorld San Diego,"As we close out 2023, we want to take a moment...",528,98,68.70,0,454
9,Lake Compounce,Who‚Äôs ready to party tonight? ü™©\n\nJoin Kyle t...,339,51,68.77,7,120

# Estimating the Number of Followers from Engagement Data

To estimate the number of followers on social media from engagement data, we perform several steps of data manipulation and apply a mathematical formula. Here's how we accomplish this task using Python and pandas:

## Steps of Calculation

### Step 1: Understanding the Formula

We start with the provided formula for engagement rate:

\[ \text{Engagement Rate} = \left( \frac{\text{Number of Reactions} + \text{Number of Shares} + \text{Number of Comments}}{\text{Number of Followers}} \right) \times 100 \]

To solve for the number of followers, we rearrange the formula:

\[ \text{Number of Followers} = \frac{\text{Number of Reactions} + \text{Number of Shares} + \text{Number of Comments}}{\text{Engagement Rate} / 100} \]

### Step 2: Cleaning the 'Engagement' Data

The 'Engagement' data was originally in a format that was not directly usable for calculations (e.g., `'1,09E+12'`). This represents a number in scientific notation but with a comma used as a decimal separator. To make this data usable, we needed to:

- Replace the comma with a dot to adhere to the standard decimal notation.
- Convert the string to a floating-point number.
- Scale down the number since it was represented in an inflated scientific notation format.

### Step 3: Applying the Adjusted Formula

With the 'Engagement' data cleaned and scaled down, we applied the rearranged formula to estimate the number of followers. 

### Step 4: Formatting the Output

After calculation, the number of followers was initially displayed in scientific notation by pandas (e.g., `5.220588e+06`). To display this as a regular integer with thousands separators (e.g., `5.220.588`), we set pandas' display options to avoid scientific notation and to use a period as a thousands separator.

In [25]:
import pandas as pd
import numpy as np  # Import numpy for isinf

# Assuming merged_df is already defined and contains the necessary columns
# Adjust the 'Engagement' values by dividing by 10^10 to correct the scale
merged_df['Engagement'] = merged_df['Engagement'].str.replace(',', '.').astype(float) / (10**10)

# Calculate the 'Estimated Followers' and multiply by 1000
merged_df['Estimated Followers'] = ((merged_df['Number of Reactions'] + merged_df['Number of Shares.1'] + merged_df['Number of Comments (primary)']) / (merged_df['Engagement'] / 100)) * 1000

# Function to format numbers with periods as thousands separators
def format_with_periods(number):
    # Check if number is NaN or infinite, which can't be formatted in this manner
    if pd.isna(number) or np.isinf(number):
        return number
    # Format the number with periods as thousand separators
    return '{:,.0f}'.format(number).replace(',', 'X').replace('.', ',').replace('X', '.')

# Apply the formatting function to the 'Estimated Followers' column
merged_df['Estimated Followers'] = merged_df['Estimated Followers'].apply(format_with_periods)

# Set pandas display options to show the full string representation of the floats
pd.options.display.float_format = None

# Display the DataFrame with the formatted estimated number of followers
merged_df[['Number of Reactions', 'Number of Shares.1', 'Number of Comments (primary)', 'Engagement', 'Estimated Followers']].head(5)

AttributeError: Can only use .str accessor with string values!

In [26]:
# Adjust the 'Engagement' values by dividing by 10^10 to correct the scale
merged_df['Engagement'] = merged_df['Engagement'].str.replace(',', '.').astype(float) / (10**10)

# Calculate the 'Estimated Followers' and multiply by 1000
merged_df['Estimated Followers'] = ((merged_df['Number of Reactions'] + merged_df['Number of Shares.1'] + merged_df['Number of Comments (primary)']) / (merged_df['Engagement'] / 100)) * 1000

# Set pandas display options to avoid scientific notation for floats
pd.options.display.float_format = '{:.0f}'.format

# Display the DataFrame with the estimated number of followers
merged_df[['Number of Reactions', 'Number of Shares.1', 'Number of Comments (primary)', 'Engagement', 'Estimated Followers']].head(50)

AttributeError: Can only use .str accessor with string values!

In [ ]:
from dateutil import parser

# Attempt to parse dates using a more flexible method
# This will handle a variety of formats but may not catch every possible inconsistency
def flexible_date_parser(date_str):
    try:
        return parser.parse(date_str)
    except ValueError:
        return pd.NaT

# Apply the flexible date parser to the 'Date' column
merged_df['Date'] = merged_df['Date'].apply(flexible_date_parser)

# Check again for any rows where 'Date' conversion resulted in NaT
nat_rows_after_parsing = merged_df[merged_df['Date'].isna()]

# Count the number of NaT rows after the flexible parsing attempt
nat_count_after_parsing = nat_rows_after_parsing.shape[0]

# Proceed with extracting the day of the week for dates that were successfully parsed
if nat_count_after_parsing == 0:
    # All dates were parsed successfully, proceed with extracting the day of the week
    merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')
    success_message = "All dates were parsed successfully, and the day of the week has been extracted."
else:
    # Some dates could not be parsed
    success_message = f"{nat_count_after_parsing} rows still contain unparseable dates after flexible parsing."

success_message

'All dates were parsed successfully, and the day of the week has been extracted.'

In [ ]:
# Converting the 'Date' column to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Date'], format='%m/%d/%y %I:%M %p')
# Extracting the day of the week
merged_df['Day of Week'] = merged_df['Date'].dt.strftime('%A')

merged_df[['Date', 'Day of Week']]

                     Date Day of Week
0     2023-12-31 21:40:00      Sunday
1     2023-12-31 20:01:00      Sunday
2     2023-12-31 19:30:00      Sunday
3     2023-12-31 19:00:00      Sunday
4     2023-12-31 19:00:00      Sunday
...                   ...         ...
15438 2023-01-01 02:00:00      Sunday
15439 2023-01-01 01:20:00      Sunday
15440 2023-01-01 00:01:00      Sunday
15441 2023-01-01 00:00:00      Sunday
15442 2023-01-01 00:00:00      Sunday

[15443 rows x 2 columns]

In [ ]:
import pandas as pd
from textblob import TextBlob

# Define logical and emotional keywords for basic counting
logical_keywords = [
    'benefits', 'safety', 'features', 'discount', 'deal', 'offer', 'schedule', 'hours', 
    'accessibility', 'facilities', 'capacity', 'reservation', 'technology', 'innovation']
emotional_keywords = [
    'exciting', 'magical', 'adventure', 'thrill', 'joy', 'surprise', 'fun', 'spectacular', 
    'amazing', 'wonder', 'dream', 'nostalgia', 'enjoy', 'memorable', 'family', 'friends', 
    'celebrate', 'laughter', 'entertainment']

# Function to count occurrences of specific words in text
def count_keywords(text, keyword_list):
    # Convert the text to lowercase and count occurrences of each keyword
    count = sum(text.lower().count(word) for word in keyword_list)
    return count

# Apply feature engineering
merged_df['sentiment'] = merged_df['Message'].apply(lambda x: TextBlob(x).sentiment.polarity)
merged_df['logical_keyword_count'] = merged_df['Message'].apply(lambda x: count_keywords(x, logical_keywords))
merged_df['emotional_keyword_count'] = merged_df['Message'].apply(lambda x: count_keywords(x, emotional_keywords))
merged_df['question_marks_count'] = merged_df['Message'].apply(lambda x: x.count('?'))
merged_df['exclamation_points_count'] = merged_df['Message'].apply(lambda x: x.count('!'))

# Display the first few rows to check the new features
merged_df

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,...,hashtag_count,readability_score,emoji_count,Estimated Followers,Day of Week,sentiment,logical_keyword_count,emotional_keyword_count,question_marks_count,exclamation_points_count
0,2023-12-31 21:40:00,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16,0,2,2,2,2,0,...,57,75,7,18349,Sunday,0,1,4,0,4
1,2023-12-31 20:01:00,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38,0,1,2,1,1,0,...,19,88,3,98321,Sunday,0,0,1,0,1
2,2023-12-31 19:30:00,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23,0,2,3,2,2,0,...,16,39,1,98246,Sunday,1,0,3,0,1
3,2023-12-31 19:00:00,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646,0,52,12,56,56,0,...,8,48,3,5220588,Sunday,0,0,0,0,1
4,2023-12-31 19:00:00,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17,0,2,0,2,2,0,...,40,83,0,38306,Sunday,0,0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,2023-01-01 02:00:00,Wild Adventures Theme Park,LAST CHANCE! \n\nPrices on 2023 Season Passes ...,20,0,1,0,2,2,0,...,32,86,0,168000,Sunday,0,0,0,0,3
15439,2023-01-01 01:20:00,Playland,O Grupo Playcenter e os Parques Playcenter Fam...,7,0,1,0,1,1,0,...,64,17,4,3252033,Sunday,0,0,3,0,2
15440,2023-01-01 00:01:00,Disneyland Paris,Gelukkig 2023! Laat de magie dit jaar stralen ...,833,0,40,31,44,44,0,...,12,94,2,516571,Sunday,0,0,0,0,2
15441,2023-01-01 00:00:00,Six Flags Over Georgia & Hurricane Harbor,What are your 2023 New Years resolutions? ‚ú®\n\...,58,0,7,2,9,9,0,...,22,65,2,47183,Sunday,0,0,1,1,1
15442,2023-01-01 00:00:00,Knott's Berry Farm,The countdown to 2023 is on!üéâ Join us tonight ...,451,0,31,28,66,66,0,...,74,59,2,593023,Sunday,0,0,4,0,2